body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

h1,
h2,
h3 {
	padding-top: 0px;
	margin-top: 0px;
}

.app {
	display: flex;
	justify-content: center;
	padding: 15px;
}

.theme:hover {
	background: #eee;
	/* border: solid 1px #ccc; */
}

.theme {
	padding: 6px 10px;
	border: solid 1px #00000000;
	cursor: pointer;
}

.themes {
	margin-bottom: 10px;
}

.container {
	min-width: 600px;
}

.delete {
	cursor: pointer;
	float: right;
}

.card {
	box-shadow: #ddd 0 1px 5px 1px;
	border-radius: 3px;
	padding: 10px;
	margin: 20px;
}

.videolist .video {
	margin-bottom: 3px;
	border: thin solid #eee;
	border-radius: 5px;
	padding: 5px 8px;
}
.videolist .video:hover {
	background: rgb(240, 240, 240);
}
.videolist a {
	text-decoration: none;
	color: #222;
}

.videolist a:visited {
	color: #777;
	border-color: aqua;
}
